<nav>
    <div class="site-title">
        <a href="/"><h1>Blog Ninja</h1></a>
        <p>A Net Ninja Site</p>
    </div>
    <ul>
        <%if(user){%>
            <li>Welcome,  <%=user.email%></li>
            <li><a href="/logout" class="btn">Logout</a></li>
            <%}else{%>
                <li><a href="/login" class="btn">Login</a></li>
                <li><a href="/signup">Sign up</a></li>
                <%}%>
        <li><a href="/about">About</a></li>
        <li><a href="/blog/create">New Blog</a></li>
    </ul>
</nav>