<%-include('partials/header.ejs')%>
    <%-include('partials/nav.ejs')%>
        <div class="about content">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum accusamus nihil, temporibus quidem impedit
                eveniet similique officiis eligendi neque aut ipsum ipsa dolorum, commodi repellat architecto natus dolore
                error dolores.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda adipisci molestiae asperiores quod
                tempora ullam modi nulla maiores. Deleniti, fugit quos consectetur ullam nemo neque amet cumque. Incidunt,
                eum quo.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum adipisci dolorum, cumque blanditiis deleniti
                quod alias libero exercitationem possimus a. Numquam, quia! Molestias voluptatem aperiam eaque. Esse impedit
                repellat quae.</p>
        </div>
<%-include('partials/footer.ejs')%>